<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="QN Env">
  	<parameter name="url" value="https://india.unicityportal.com/test_warehouseorder/auth/login" />
    	<classes>
      		<class name="WH.CommonLogin"/>
      		<class name="WH.WH_GurgaonLogin"/>
      		<!-- <class name="WH.WH_BhiwandiLogin"/>
      		<class name="WH.EscalationMailPage"/>
      		<class name="WH.AdminLogin"/>																							
      		<class name="WH.WH_RaipurLogin"/>
      		<class name="WH.WH_AhmedabadLogin"/>
      		<class name="WH.UppLogin"/>
      		<class name="WH.WH_BangaloreLogin"/>
      		<class name="WH.SuperAdminLogin"/>
      		<class name="WH.CustomerCareLogin"/>
      		<class name="WH.WH_GuwahatiLogin"/> -->
    	</classes>
  </test> <!-- Test -->
  	
  <test name = "Production Env">
  	<parameter name="url" value="https://india.unicityportal.com/warehouseorder/auth/login" />
  		<classes>
  			<!-- <class name="whlive.LiveSuperAdminLogin"/> -->
  				<class name="whlive.LiveCommonLogin"/>
  		</classes>
  	</test>
</suite> <!-- Suite -->