<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="4" parallel="tests">

	<listeners>
		<!-- <listener class-name="resources.listeners"></listener> -->
		<!-- By Implementing TestNG IRetryAnalyzer. -->
		<!-- <listener class-name="utilities.RetryListenerClass"></listener> -->
	</listeners>

	<test name="Chrome Test">
		<classes>
			<class name="WH.CommonLogin" />
			<class name="WH.SuperAdminLogin" />
			<class name="WH.AdminLogin" />
			<class name="WH.UppLogin" />
			<class name="WH.WH_AhmedabadLogin"/>
			<class name="WH.CustomerCareLogin"/>
		</classes>
	</test>
</suite>
